* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0e0e0e;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  padding: 15px 40px;
  border-bottom: 3px solid #c20000;
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
}

.logo span {
  color: #ff2a2a;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff2a2a;
}


.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('https://imgs.search.brave.com/jlfytX0yI7dV26QTKmheWOnjUYNfKIbg6gbR35ql-G8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC83VjMwU1hu/LnBuZw') center/cover;
}

.hero h1 {
  font-size: 2.8em;
  margin-bottom: 10px;
  color: #ff2a2a;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 25px;
}

.btn {
  background-color: #ff2a2a;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #c20000;
}


.recent {
  padding: 50px 40px;
}

.recent h2 {
  margin-bottom: 25px;
  font-size: 1.8em;
  border-left: 5px solid #ff2a2a;
  padding-left: 10px;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}

.game-card {
  background-color: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  flex-grow: 1;
}

.game-card h3 {
  text-align: center;
  padding: 10px;
  font-size: 1em;
  background-color: #141414;
  margin-top: auto;
}
